html,
body {
	min-height: 100vh;
	overflow-x: hidden;
}
.js .container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.js .pages {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}
.page {
	/*padding: 6.5em;*/
	background: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.js .page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 1;
}
.js .page--current {
	visibility: visible;
	position: relative;
}

/* Navigation */

.pagenav {
	position: absolute;
	pointer-events: none;
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	z-index: 1000;
}
.no-js .pagenav {
	display: none;
}
.pagenav__button {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	color: inherit;
	font-weight: inherit !important;
}
.pagenav__button:focus {
	outline: none;
}

/* Page content */

.quote {
	font-size: 5.5vh;
	line-height: 1.25;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	max-width: 800px;
	padding: 1em;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.quote p {
	font-family: 'Merriweather', serif;
	margin: 0 0 0.5em;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}

.quote p::before {
	content: '\201C';
}

.quote p::after {
	content: '\201D';
}

.quote footer {
	font-size: 0.5em;
}

.quote footer::before {
	content: '\2014';
}


/* Revealers */

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}
.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
	top: 50%;
	left: 50%;
}
.revealer--top,
.revealer--bottom {
	left: 0;
}
.revealer--right,
.revealer--left {
	top: 50%;
	left: 50%;
}
.revealer--top {
	bottom: 100%;
}
.revealer--bottom {
	top: 100%;
}
.revealer__layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
}
/* Revealer effects */

/* Forth effect */

.anim--effect-4 .page--animate-cornerbottomright .quote {
	-webkit-animation: moveQuoteCornerBottomRight 1s forwards;
	animation: moveQuoteCornerBottomRight 1s forwards;
}

@-webkit-keyframes moveQuoteCornerBottomRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, 50px, 0);
		transform: translate3d(50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerBottomRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, 50px, 0);
		transform: translate3d(50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-4-1 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-4-1 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-4 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-4-2;
	animation-name: anim-effect-4-2;
	-webkit-animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
	animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.anim--effect-4 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-4-3;
	animation-name: anim-effect-4-3;
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
}

@-webkit-keyframes anim-effect-4-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-4-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
		animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
		animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-4-3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
		animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
		animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

/* Media queries */

@media screen and (max-width: 50em) {
	.quote {
		font-size: 5vw;
		text-align: center;
		padding: 0.5em;
	}
}
