
*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #444;
	background: #f6f6f6;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	outline: none;
	color: inherit; 
	text-decoration: none;
}
a:hover,
a:focus {
	outline: none;
}

/* MENU ASSETS -------------------------------------------------------- */

#menuLogo {
	position:absolute;
    background-size:contain;
    background-repeat: no-repeat;
	background-image:url("../img/logo-menu.png");
    bottom:26px;
	left:26px;
    width:84px;
    height:84px;
	cursor: pointer;
	pointer-events: auto;
    z-index:1000;
	background-position:center bottom;
}
#menuTriangleLeft {
	position:absolute;
	bottom:0px;
	left:0px;
  	width:0;
	height:0;
	border-style: solid;
	border-width: 300px 0 0 200px;
	border-color: transparent transparent transparent #FFFFFF;
	z-index: 501;
  }
 #menuTriangleLeftBg {
	position:absolute;
	bottom:0px;
	left:0px;
  	width:0;
	height:0;
	border-style: solid;
	border-width: 303px 0 0 203px;
	border-color: transparent transparent transparent #7bc142;
	z-index: 500;
  }
 #menuTriangleRight {
	position:absolute;
	bottom:0px;
	right:0px;
  	width:0;
	height:0;
	border-style: solid;
	border-width: 0 0 300px 200px;
	border-color: transparent transparent  #FFFFFF transparent;
	z-index: 501;
  }
 #menuTriangleRightBg {
	position:absolute;
	bottom:0px;
	right:0px;
  	width:0;
	height:0;
	border-style: solid;
	border-width: 0 0 303px 203px;
	border-color: transparent transparent  #7bc142 transparent;
	z-index: 500;
  }
 #menuList{
	position:absolute;
  	 padding: 0;
  	 bottom:23px;
  	 right:25px;
  	 margin:0;
  	 z-index:600;
  }
 #menuList li{
 	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700 !important;
	color: #444444;
  	text-align: right;
  	list-style: none;
  	font-size: 14px;
	position: relative;
	border: 0;
	background: none;
	padding: 0;
	margin: 4px 0 0 0;
  	width:auto;
	cursor: pointer;
	pointer-events: auto;
    transition: all 0.3s ease 0s;
  }
 #menuList li:hover{
	color:#7bc142;
 }

 /* HOMEPAGE ASSETS -------------------------------------------------------- */

.bgImage {
	position:absolute;
    background-size:cover;
    background-repeat: no-repeat;
    top: 0px;
	left:0;
    width:100%;
    height:100%;
    z-index:200;
	z-index: 10;
	background-position:center bottom;
	opacity:0;
	-webkit-transition: all 0.8s cubic-bezier(0.655, 0, 0.250, 1);
}
.logo {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size:contain;
	background-position:center center;
	background-image:url("../img/logo-main.png");
	background-repeat: no-repeat;
	opacity:0;
	-webkit-transition: all 0.8s cubic-bezier(0.655, 0, 0.250, 1);
	z-index: 1001;
}
.show-bg {
	opacity:1;
	z-index: 100;
}
.show-logo {
	opacity:1 ;
	z-index: 300;
}
#bg1 {
    background-image: url(../img/heroImage01.jpg);
  }
#bg2 {
    background-image: url(../img/heroImage02.jpg);
  }
#bg3 {
    background-image: url(../img/heroImage03.jpg);
  }

/* CONTACT PAGE ASSETS -------------------------------------------------------- */




